.mobmenu.active {
    transform: translateX(0%);
}

.mobmenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    transform: translateX(100%);
    display: flex;
    justify-content: flex-end;
    @include def-anim;

    &__in {
        padding: 0 30px 0 42px;
        width: 70%;
        height: 100%;
        background-color: #9000ff;
    }

    &__close {
        display: flex;
        justify-content: flex-end;
        // padding: 15px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    &__nav {
        
        
        &_item {
            margin-bottom: 20px;
            a {
                display: block;
                font-size: 22px;
                line-height: normal;
                color: #fff;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }

    &__auth {
        padding: 15px 0;
        border-top: 4px solid $violet;
        border-bottom: 4px solid $violet;

        &_item {
            display: block;
            text-transform: uppercase;
            font-size: 22px;
            line-height: normal;
            color: $aqua;
            font-weight: 700;
            margin-bottom: 20px;

            &:last-child {
                margin: 0;
            }
        }
    }

    &__soc {
        padding: 20px 0;
        &_item {
            display: block;
            text-transform: uppercase;
            font-size: 22px;
            line-height: normal;
            color: #fff;
            font-weight: 700;
            margin-bottom: 20px;

        }
    }
}

@media (max-width: 450px) {

    .mobmenu {


        &__in {

        }

        &__nav {

            &_item {
                margin-bottom: 10px;
                a {
                    font-size: 16px;
                }
            }
        }

        &__auth {

            &_item {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }

        &__soc {

            &_item {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }
}